@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bazar_App.Auth.Models.Dto.RegisterDto

<form asp-controller="Auth" asp-action="SignUp" method="post">
    <br />
    <br />
    <label>
        <span>UserName</span>
    </label>
    <br />
    <input asp-for="@Model.UserName"/>
    @Html.ValidationMessageFor(x => x.UserName)
    <br />
    <label>
        <span>Password</span>
    </label>
    <br />
    <input type="password" asp-for="@Model.Password"/>
    @Html.ValidationMessageFor(x => x.Password)
    <br />
    <label>
        <span>Email</span>
    </label>
    <br />
    <input type="email" asp-for="@Model.Email"/>
    @Html.ValidationMessageFor(x => x.Email)
    <br />
    <br />
    <button type="submit">SignUp</button>
</form>

<div asp-validation-summary="All"></div>