@using Bazar_App.Auth.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        
.field-validation-error {
    color: #e80c0c;
    font-weight: bold;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navli {
  float: left;
}


li.navli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.navli a:hover {
  background-color: #111;
}
</style>
</head>
<body>
    <div>
                <ul class="nav">
                    <li class="navli">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="navli">@Html.ActionLink("Categories", "Index", "Category")</li>
                    <li class="navli">@Html.ActionLink("Products", "Index", "Product")</li>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="navli">@Html.ActionLink($"Hi {@User.Identity.Name}", "", "")</li>
                        <li class="navli">@Html.ActionLink("LogOut", "LogOut", "Auth")</li>
                    }else
                    {
                        <li class="navli">@Html.ActionLink("SignUp", "SignUp", "Auth")</li>
                        <li class="navli">@Html.ActionLink("LogIn", "Index", "Auth")</li>
                    }
                </ul>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - copyright Bazar Store</p>
        </footer>
    </div>
</body>
</html>
