@page
@model Bazar_App.Pages.Carts.IndexModel
@{
}

<link rel="stylesheet" href="~/css/cart.css">
<div class="body">
    @if (Model.Cart != null)
    {
        @if (Model.Cart.TotalCost > 0)
        {
            <div class="CartContainer">
                <div class="Header">
                    <h3 class="Heading">Shopping Cart</h3>
                    <form asp-page-handler="deleteAll" method="post">
                        <input type="hidden" name="cartId" value="@Model.Cart.Id">
                        <button class="Action" type="submit">Remove All</button>
                    </form>
                </div>
                @foreach (var item in @Model.Cart.Products)
                {
                    <div class="Cart-Items">
                        <div class="image-box">
                            <img src="@item.ImgUrl" style="height:120px" />
                        </div>
                        <div class="about">
                            <h1 class="title">@item.Name</h1>
                            <h3 class="subtitle"></h3>
                            <img src="~/images/veg.png" style="height:20px"/>
                        </div>
                        <div class="counter">
                            <form asp-page-handler="add" method="post">
                                <input type="hidden" name="productId" value="@item.Id">
                                <input type="hidden" name="cartId" value="@Model.Cart.Id">
                                <button class="btn" type="submit">+</button>
                            </form>
                            <div class="count">@item.Quantity</div>
                            <form asp-page-handler="delete" method="post">
                                <input type="hidden" name="productId" value="@item.Id">
                                <input type="hidden" name="cartId" value="@Model.Cart.Id">
                                <button class="btn" type="submit">-</button>
                            </form>
                        </div>
                        <div class="prices">
                            <div class="amount">@item.Price JD</div>
                            <form asp-page-handler="remove" method="post">
                                <input type="hidden" name="productId" value="@item.Id">
                                <input type="hidden" name="cartId" value="@Model.Cart.Id">
                                <button class="remove" type="submit">Remove</button>
                            </form>
                        </div>
                    </div>
                }
                <hr> 
                <div class="checkout">
                    <div class="total">
                        <div>
                            <div class="Subtotal">Sub-Total</div>
                            <div class="items">@Model.Cart.TotalQuantity items</div>
                        </div>
                        <div class="total-amount">@Model.Cart.TotalCost JD</div>
                    </div>
                    <button class="button">Checkout</button>
                </div>
            </div>
        }else
            {
        <div class="CartContainerempty">
            <img id="emptycart" src = "~/images/EmptyCart.png" />
            </div>
            }
    }else
    {
        <div class="CartContainerempty">
            <img id="emptycart" src = "~/images/EmptyCart.png" />
            </div>
    }
   </div>