@page
@model Bazar_App.Pages.Products.IndexModel;
@{
}

<link rel="stylesheet" href="~/css/productcart.css" />

@foreach (var item in Model.Product)
{
       <div class="card">
          <div class="photo">
            <img src="@item.ImgUrl">
          </div>
          <div class="description">
            <h2>@item.Name</h2>
            <h4>@item.CategoryName</h4>
            <h1>@item.Price JD</h1>
            <p>@item.Description</p>
            <h1>InStock : @item.InStock</h1>
            <form method="post" >
            <input type="hidden" name="id" value="@item.Id" />
            <button>Add to Cart</button>
            </form>
          </div>
        </div>    
}


        