@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bazar_App.Models.DTO.ProductCategoryDto

    <label>
        <span>Name</span>
    </label>
    <br />
    <input asp-for="@Model.Name"/>
    @Html.ValidationMessageFor(x => x.Name)
    <br />
    <label>
        <span>Price</span>
    </label>
    <br />
    <input asp-for="@Model.Price"/>
    @Html.ValidationMessageFor(x => x.Price)
    <br />
    <label>
        <span>Description</span>
    </label>
    <br />
    <input asp-for="@Model.Description"/>
    <br />
    <label>
        <span>
            Choose a category:
        </span>
    </label>
    <br />
    <select asp-for = "@Model.CategoryName">
        @foreach (var item in Model.Categories)
       {
        <option value="@item.Name">@item.Name</option>   
       }
    </select>
    <br />
    <br />