@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Bazar_App.Models.DTO
@model List<ProductDto>

<h3>Product Page</h3>
    <hr />
<p>
    <a asp-controller="Product" asp-action="Create">Create New</a>
</p>
<table border=1 class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                CategoryName
            </th>
            <th>
                Edit
            </th>
            <th>    
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-controller="Product" asp-action="Edit" asp-route-id=@item.Id>Edit</a>
            </td>
            <td>
                <a asp-controller="Product" asp-action="Details" asp-route-id=@item.Id>Details</a>
            </td>
            <td>
                <a asp-controller="Product" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
